/* --------------------공통-------------------- */
body {
  font-family: 'GmarketSansMedium', sans-serif;
  background-color: #f0f4f8;
  color: #273a4e;
}

/* -------------------------------------------- */

/* ----------------배경 이미지----------------- */
/* parking */
.parkingBackground {
  background-image: url('../../images/parking.jpg'); /* 이미지 경로 */
  background-size: cover; /* 이미지를 컨테이너에 맞게 조정 */
  background-repeat: no-repeat; /* 이미지 반복 제거 */
  background-position: center; /* 이미지 중앙 정렬 */
  min-height: 100vh; /* 화면 전체 높이 */
  display: flex;
  flex-direction: column;
}

/* user */
.userBackground {
  background-image: url('../../images/user.jpg'); /* 이미지 경로 */
  background-size: cover; /* 이미지를 컨테이너에 맞게 조정 */
  background-repeat: no-repeat; /* 이미지 반복 제거 */
  background-position: center; /* 이미지 중앙 정렬 */
  min-height: 100vh; /* 화면 전체 높이 */
  display: flex;
  flex-direction: column;
}

/* superAdmin */
.superAdminBackground {
  background-image: url('../../images/superAdmin.jpg'); /* 이미지 경로 */
  background-size: cover; /* 이미지를 컨테이너에 맞게 조정 */
  background-repeat: no-repeat; /* 이미지 반복 제거 */
  background-position: center; /* 이미지 중앙 정렬 */
  min-height: 100vh; /* 화면 전체 높이 */
  display: flex;
  flex-direction: column;
}

/* join */
.joinBackground {
  background-image: url('../../images/join.jpg'); /* 이미지 경로 */
  background-size: cover; /* 이미지를 컨테이너에 맞게 조정 */
  background-repeat: no-repeat; /* 이미지 반복 제거 */
  background-position: center; /* 이미지 중앙 정렬 */
  min-height: 100vh; /* 화면 전체 높이 */
  display: flex;
  flex-direction: column;
}

/* login */
.loginBackground {
  background-image: url('../../images/login.jpg'); /* 이미지 경로 */
  background-size: cover; /* 이미지를 컨테이너에 맞게 조정 */
  background-repeat: no-repeat; /* 이미지 반복 제거 */
  background-position: center; /* 이미지 중앙 정렬 */
  min-height: 100vh; /* 화면 전체 높이 */
  display: flex;
  flex-direction: column;
}

/* -------------------------------------------- */

/* --------------------메뉴-------------------- */
.topMenu {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem;
  line-height: 1.2rem;
}

.topMenuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 1.2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: #749fcd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1rem;
  text-shadow: 1px 1px 0 #273a4e;
  cursor: pointer;
  transition: all 0.3s ease;
}

.topMenuBtn:hover {
  background-color: rgba(255, 166, 0, 0.8);;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* -------------------------------------------- */

/* --------------------버튼-------------------- */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: 2px solid white;
  background-color: #749fcd;
  color: white;
  font-size: 1rem;
  text-shadow: 1px 1px 0 #273a4e;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: white;
  color: #749fcd;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* -------------------------------------------- */

/* --------------------인풋---------------------*/
.inputBox {
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  transition: all 0.3s ease;
}

.inputBox:focus {
  outline: none;
  background-color: white;
  color: #273a4e;
  border-color: #749fcd;
  box-shadow: 0 0 0 3px rgba(116, 159, 205, 0.1);
}

.inputBox::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/* -------------------------------------------- */

/* -------------------테이블------------------- */
.tableRowContainer {
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: rgb(255, 255, 255, 0.7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  line-height: 0.8rem;
}

.tableHeader {
  display: grid;
  padding: 1rem 0.5rem;
  grid-template-columns: repeat(7, 1fr);
  /* 기본 7열 테이블 (아래 custom class 설정) */
  background-color: rgba(81, 92, 143, 0.8);
  color: white;
  text-align: center;
  font-weight: 600;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.tableRow {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* 기본 7열 테이블 (아래 custom class 설정) */
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid #e1e5ea;
  background-color: rgb(208, 233, 255, 0.8);
  text-align: center;
  align-items: center; /* 수직 정렬 */
  transition: background-color 0.3s ease;
}


.tableRow:hover {
  background-color: rgba(255, 166, 0, 0.40);
}

/* 테이블 갯수 별 custom class */
/* parking */
.parkingRVTable {
  grid-template-columns: .5fr repeat(2, 1.5fr) repeat(2, .5fr) 1.5fr 1fr;
}

.parkingEntryTable {
  grid-template-columns: .5fr 1.5fr repeat(2, .7fr) repeat(3, .8fr);
}

/* user */
.userTable {
  grid-template-columns: .5fr repeat(2, 1fr) repeat(2, 1.5fr) 1fr;
}

.approvalTable {
  grid-template-columns: repeat(2, 1fr) repeat(2, 2fr) 1fr;
}

/* superAdmin */
.userManageTable {
  grid-template-columns: .5fr repeat(2, 1fr) repeat(2, 2fr) 1fr;
}

.entryListTable {
  grid-template-columns: 1fr 2fr repeat(5, 1fr);
}

/* -------------------------------------------- */

/* ---------------------폼--------------------- */
.formContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #515c8fee;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(231, 229, 229, 0.1);
  width: 80%;
}

.formContainer.superAdminAdd {
  display: flex;
  width: initial;
  margin: 1rem;
}

.formGroup.superAdminAdd {
  flex: 1 1 calc(16.66% - 0.5rem);
  min-width: 150px;
}

.formGroup {
  display: flex;
  flex: 1 1 calc(50% - 1rem);
  flex-direction: column;
  margin-bottom: 1rem;
  padding: .2rem;
}

.formLabel {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: white;
}

.inputBox {
  padding: 0.5rem 1rem;
  border: .15rem solid white;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #bad3eed3;
  color: #273a4e;
  transition: all 0.3s ease;
}

.inputBox.error {
  border: .15rem solid red;
}

.inputBox:focus {
  outline: none;
  background-color: white;
  color: #273a4e;
  border-color: #749fcd;
  box-shadow: 0 0 0 3px rgba(116, 159, 205, 0.1);
}

.inputBox::placeholder {
  color: rgba(39, 58, 78, 0.5);
}

/* -------------------------------------------- */

/* --------------------버튼-------------------- */
.buttonGroup {
  display: flex;
  flex: 1 1 100%;
  justify-content: end;
}

.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 1rem;
}

.formButton.add {
  background-color: #749fcd;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formButton.add.green {
  background-color: #74cd96;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formButton.add.green:hover {
  background-color: #55b194;
  transform: translateY(-2px);
}

.formButton.add:hover {
  background-color: #577dad;
  transform: translateY(-2px);
}

.formButton.cancel {
  background-color: #e57373;
  color: white;
  box-shadow: 0 4px 6px rgba(59, 47, 47, 0.1);
}

.formButton.cancel:hover {
  background-color: #c54444;
  transform: translateY(-2px);
}

/* -------------------------------------------- */

/* ----------------페이지네이션---------------- */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  gap: 0.7rem;
  background-color: rgba(81, 92, 143, 0.8);;

}

.paginationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: #91b9e4;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.paginationButton.active {
  background-color: #7997e9b2;
  color: white;
}

.paginationButton:hover {
  background-color: orange;
  color: #749fcd;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* -------------------------------------------- */